/*-----BASE-----*/

html {
    font-size: 16px;
}

body {
    border-top: .6rem solid #15669e;
    border-bottom: .6rem solid #15669e;
    background: #fff url('../images/fundo.png');
}

/* class page e suas media queries*/
.page {
    width: 17rem;
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 580px) {
    .page {
        width: 34rem;
    }
}

@media (min-width: 960px) {
    .page {
        width: 51rem;
    }
}

/* Estilizacao generica dos Cards*/
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);
    box-shadow: 1px 1px 5px rgba(155, 155, 155, .4);
}

.card:hover {
    transition-timing-function: ease-out;
    transition-duration: .25s;
    transition-property: all;

    box-shadow: 1px 1px 8px rgba(155, 155, 155, .9);
}

.container {
    display: flex;

    list-style: none;

    flex-wrap: wrap;
    justify-content: center;
}

/* back to top e suas media queries*/
.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 3rem;

    display: none;

    width: 3rem;
    height: 3rem;

    opacity: .4;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #15669e;
    background-image: url('../images/arrow-up-light.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    box-shadow: 1px 1px 5px rgba(155, 155, 155, .6);
}

.back-to-top:hover {
    cursor: pointer;
    transition: opacity .25s linear;

    opacity: 1;
}