/*-----FOOTER-----*/

.footer {
    font-family: 'Kotta One', serif;
    font-size: .8rem;
    font-weight: 200;

    display: block;

    padding: 1rem;

    text-align: center;

    color: #2f2f2f;
    border-bottom: .6rem solid #15669e;
}

.footer p {
    margin-bottom: .4rem;
}

.footer a {
    color: #15669e;
}

.footer a:hover {
    text-decoration: underline;
}
