/*-----HEADER-----*/

.header {
    display: block;
}

.header-logo {
    display: block;

    text-align: center;
}

.header-logo p {
    font-family: 'Kotta One', serif;
    font-size: 1rem;

    display: block;

    margin-top: .5rem;

    color: #15669e;
}

.header-logo a {
    color: #2f2f2f;
}

.header-logo h1 {
    font-family: 'Overlock', cursive;
    font-size: 2.5rem;
    font-weight: 600;

    display: block;
}

.header-logo h1 span {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;

    color: #15669e;
}

.header-nav {
    margin-top: 2rem;
}

.header-nav-button {
    line-height: 1.3rem;

    width: 16rem;
    margin: .5rem;
    padding: 1rem;

    text-align: center;

}

.header-nav-button a {
    color: #2f2f2f;
}

.header-nav-button a p {
    font-family: 'Kotta One', serif;
    font-size: .9rem;
    font-weight: 500;
}

.header-nav-button a span p {
    font-size: .75rem;
    font-style: italic;

    color: #919191;
}

.header-nav-button:hover a span p {
    color: #15669e;
}
