/*-----MAIN-----*/

.wrapper {
    display: flex;
    flex-direction: row;

    margin: 3rem .5rem 1.5rem .5rem;
    padding: 1.5rem;

    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 1px 1px 5px rgba(155, 155, 155, .6);
}

.content {
    font-family: 'Kotta One', serif;
    font-size: .9rem;
    font-weight: 200;
    line-height: 1.4rem;

    color: #2f2f2f;
}

.side {
    position: relative;

    display: none;
}

.side img {
    width: 115%;
    margin: 5rem 0;
    padding: .4rem;

    transform: rotate(-3deg);

    border: 1px solid #cdcdcd;
    box-shadow: 2px 2px 5px rgba(155, 155, 155, .6);
    background-color: rgba(255, 255, 255, .9);

    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

@media (min-width: 960px) {
    .content_perfil {
        width: 36rem;
        margin-left: 4rem;

        order: 2;
    }

    .side {
        display: block;

        width: 12rem;

        border-right: 1px solid rgba(155, 155, 155, .3);

        order: 1;
    }
}

.content h2 {
    font-size: 2rem;
    font-weight: 500;

    display: block;

    margin: 2rem 0 2rem .2rem;

    color: #15669e;
}

.content h3 {
    font-size: 1.4rem;
    font-weight: 400;

    display: block;

    margin: 2rem 0 1rem .2rem;

    color: #15669e;
}

.content p {
    margin-bottom: .4rem;
}

.content a {
    color: #15669e;
}

.content a:hover {
    text-decoration: underline;
}

.skills {
    margin-left: 1rem;
}

.contacts {
    margin: 0;

    list-style: none;

    text-align: left;
}

.contacts li {
    display: inline-block;

    margin-right: .2rem;
}

.contacts img {
    width: 2.2rem;
    height: 2.2rem;

    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}

.contacts img:hover {
    transition: filter .25s ease-out;
    transition: -webkit-filter .25s ease-out;

    -webkit-filter: brightness(125%);
    filter: brightness(125%);
}
