/*-----MAIN-----*/

.main {
    display: flex;

    margin: 0 auto;

    flex-wrap: wrap;
    justify-content: center;
}

.content {
    font-family: 'Kotta One', serif;
    font-size: .85rem;
    font-weight: 200;
    line-height: 1.5rem;

    box-sizing: border-box;
    width: 16rem;
    margin: 1.5rem .5rem 1.5rem .5rem;
    padding: 1.5rem;

    color: #2f2f2f;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 5px rgba(155, 155, 155, .6);
}

.content h2 {
    font-size: 2rem;
    font-weight: 500;

    display: block;

    margin-bottom: 1rem;
    margin-left: .2rem;
    padding: 0 0 .5rem 0;

    color: #15669e;
}

.content h3 {
    font-size: 1.4rem;
    font-weight: 400;

    display: block;

    margin: 1rem 0 .4rem 0;
    padding: 0 0 .5rem 0;

    color: #15669e;
}

.content p {
    margin-bottom: .4rem;
}

.content a {
    color: #15669e;
}

.content a:hover {
    text-decoration: underline;
}

.skills {
    margin-left: 1rem;
}

.contacts {
    list-style: none;
    text-align: left;
    margin: 0;
}

.contacts li {
    display: inline-block;
}

.contacts img {
    width: 2rem;
    height: 2rem;
}