/* Main usado so com cards*/

.main {
    margin: 5rem 0 2rem 0;
}

.main-card {
    line-height: 1.3rem;

    width: 14rem;
    margin: .5rem;
    padding: .5rem;

    text-align: center;
}

.main-card a {
    color: #2f2f2f;
    font-family: 'Kotta One', serif;
}

.main-card h1 {
    margin: .5rem 0;

    font-size: .7rem;
    font-weight: 500;

    color: #919191;
}

.main-card p {
    margin: .5rem .5rem;

    font-size: .7rem;
    font-weight: 200;
    font-style: italic;

    text-align: left;
}

.main-card span p {
    font-size: .75rem;
    font-weight: 500;
    font-style: italic;

    text-align: center;
}

.main-card:hover h1 {
    color: #15669e;
}

.main-card img {
    width: 80%;

    transition: filter .2s linear;
    transition: -webkit-filter .2s linear;

    -webkit-filter: grayscale(1);
    filter: grayscale(1);

    border-radius: 1px;
}

.main-card:hover img {
    transition: filter .2s linear;
    transition: -webkit-filter .2s linear;

    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}