/*-----MAIN-----*/

.main {
    display: flex;

    margin: 0 auto;

    flex-wrap: wrap;
    justify-content: center;
}

.content {
    line-height: 1.5rem;
    box-sizing: border-box;
    width: 910px;
    margin: 2.5rem .5rem 2.5rem .5rem;
    padding: 3rem 4.5rem 3rem 3rem;

    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: rgba(235, 235, 235, 0.5);
    box-shadow: 1px 1px 5px rgba(155, 155, 155, .6);

    font-family: 'Kotta One', serif;
    font-weight: 200;
    font-size: 1rem;
    color: #2f2f2f;
}

.content h2 {
    display: block;
    margin-left: .2rem;
    font-weight: 500;
    padding: 0 0 .5rem 0;
    margin-bottom: 1.5rem;
    color: #15669e;
    font-size: 2rem;
}

.content h3 {
    display: block;
    margin-left: .2rem;
    font-weight: 400;
    padding: 0 0 .5rem 0;
    margin: 1rem 0 .4rem 0;
    color: #15669e;
    font-size: 1.4rem;
}

.content a {
    color: #15669e;
}

.content ul {
    display: block;
    margin-left: 1rem;
}